@-moz-document url('https://vk.com/feed') {
    div .replies {
        display: none;
    }

    div .reply_link_wrap {
        display: none;
    }

    div .post_reply {
        display: none;
    }
}
