@import "./_variables.scss";

@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

@-moz-document url-prefix('http://habr.com'),
  url-prefix('https://habr.com') {
  @import "./components/articles.scss";
  @import "./components/comments.scss";
  @import "./components/page.scss";
  @import "./components/sidebar.scss";
  @import "./components/tabs.scss";
  @import "./components/users.scss";
}
