@import "../_variables.scss";

/* Backgroud */
.tm-block,
.tm-company-card,
.tm-company-profile-card,
.tm-button-follow__button,
.tm-page-article__body,
.tm-articles-list__item,
.tm-article-presenter__origin,
.tm-data-icons.tm-page-article__counters-panel,
.tm-user-card,
.tm-comment-form,
.tm-comments-wrapper__wrapper,
.tm-comment-form__editor,
.tm-article-presenter__body,
.tm-article-sticky-panel,
.tm-article-sticky-panel__icons,
.tm-placeholder-promo,
.tm-placeholder-inset {
  background-color: $bg-color-second !important;
}

/* Text */
.tm-company-card__description,
.tm-article-snippet__title.tm-article-snippet__title_h1,
.article-formatted-body.article-formatted-body_version-1,
.article-formatted-body.article-formatted-body_version-2,
.tm-comment-form__editor,
.tm-article-poll__header,
.tm-article-poll__answer-label,
.tm-separated-list__title {
  color: $text-color-main !important;
}

/* Links */
.tm-company-card__name,
.tm-news-block__title-link.tm-news-block__title,
.tm-article-snippet__title-link {
  color: $link-color-main !important;
}

/* Links: visited */
.tm-company-card__name:visited,
.tm-news-block__title-link.tm-news-block__title:visited,
.tm-article-snippet__title-link:visited {
  color: $link-color-visited !important;
}

/* Links: hover */
.tm-company-card__name:hover,
.tm-news-block__title-link.tm-news-block__title:hover,
.tm-article-snippet__title-link:hover {
  color: $link-color-hover !important;
}
