@import "../_variables.scss";

.tm-article-comments__article-snippet,
.tm-comment__body-content code,
.tm-comment__body-content pre {
  background-color: $bg-color-main !important;
}

.tm-notice {
  background-color: $bg-color-second !important;
}

.tm-comment__body-content,
.tm-notice__content {
  color: $text-color-main !important;
}
