@import "../_variables.scss";

/* Background */
.tm-page.tm-my-feed-page,
.tm-page__wrapper,
.tm-page-width,
.tm-user-page__placeholder,
.tm-placeholder_categories,
.tm-companies__placeholder,
.tm-placeholder_article,
.tm-placeholder__company-avatar,
.tm-placeholder__line,
.tm-placeholder-promo__image,
.loads,
.tm-project-block,
.tm-fieldset__header,
.tm-comment__body-content details,
.tm-comment__body-content_v2 details,
.tm-comment__body-content_v2 .mention,
.tm-comment-navigation__block,
.tm-layout__container,
.tm-stories-card-empty__image,
.tm-stories-card-empty__title-block,
.article-formatted-body code,
.article-formatted-body pre,
.article-formatted-body_version-2 details,
.article-formatted-body_version-2 .mention,
.news-block-item-placeholder__header,
.news-block-item-placeholder__meta {
  background-color: $bg-color-main !important;
}

.tm-header,
.tm-base-layout__header.tm-base-layout__header_is-sticky,
.tm-layout,
.tm-section-name,
.tm-page__top,
.tm-navigation-search__input,
.tm-pagination,
.tm-navigation-filters__button,
.tm-navigation-filters__options,
.tm-navigation-sorting,
.tm-hubs-list__sorting-panel,
.tm-hubs-list,
.tm-users-list__sorting-panel,
.tm-users-list,
.tm-companies__sorting-panel,
.tm-companies,
.tm-company-card__branding-placeholder,
.tm-company-article__profile-card,
.tm-article-comments-counter-button,
.tm-article-comments-counter-link__link_button-style,
.tm-my-feed-page__settings-button,
.tm-rss-button,
.tm-navigation-panel,
.tm-dropdown__body,
.tm-user-charge,
.tm-footer,
.tm-footer-menu,
.tm-page__info,
.tm-popup-page-settings__form,
.tm-user-notification-base,
.user-notifications-dropdown__footer,
.tm-suggest-button,
.tm-hub-card,
.tm-editor__wrapper,
.tm-editor__bottom,
.tm-base-layout__header,
.similar-and-daily__tab-view {
  background-color: $bg-color-second !important;
}

// OP comments
.tm-comment__header_is-by-op {
  background-color: #254203 !important;
}

// New comments
.tm-comment__header_is-new {
  background-color: #222436 !important;
}

.tm-pagination__navigation-link:first-child::after,
.tm-pagination__navigation-link:last-child::before {
  background: none;
}

/* Text */
.tm-section-name__text,
.tm-navigation-filters__button,
.tm-navigation-filters__options,
.tm-navigation-sorting__row-option,
.tm-navigation-panel,
.tm-dropdown__body,
.tm-user-item__name,
.tm-project-block-items__property-item,
.tm-page__info,
.tm-page-settings-form__title,
.tm-input-radio-labeled__label,
.tm-labeled-checkbox__label,
.user-notifications-dropdown__title,
.tm-hub-card__name.tm-hub-card__name_variant-base,
.tm-hub-card__description.tm-hub-card__description_variant-base,
.tm-hub__title,
.hljs,
.tm-comments-wrapper__title,
.tm-article-body__tags-title,
.ProseMirror > h1,
.ProseMirror .node__inner p,
.tm-block__body,
.tm-publication__bottom-time {
  color: $text-color-main !important;
}

/* Links */
.tm-pagination__page,
.tm-main-menu__item_active,
.tm-user-menu__menu-link,
.tm-user-info__username,
.tm-news-block-item__title-link,
.tm-project-block__title-link,
.tm-project-block-items__detail.tm-project-block-items__title,
.tm-docs__link_sidebar,
.user-notifications-dropdown__show-all,
.tm-companies-contribution-block__company-name,
.tm-user-snippet__title,
.tm-most-reading-block__promo-post,
.tm-company-snippet__title {
  color: $link-color-main !important;
}

/* Links: visited */
.tm-pagination__page:visited,
.tm-user-menu__menu-link:visited,
.tm-user-info__username:visited,
.tm-news-block-item__title-link:visited,
.tm-project-block__title-link:visited,
.tm-project-block-items__detail.tm-project-block-items__title:visited,
.tm-docs__link_sidebar:visited,
.user-notifications-dropdown__show-all:visited,
.tm-companies-contribution-block__company-name:visited,
.tm-user-snippet__title:visited,
.tm-most-reading-block__promo-post:visited,
.tm-company-snippet__title:visited {
  color: $link-color-visited;
}

/* Links: hover */
.tm-pagination__page:hover,
.tm-user-menu__menu-link:hover,
.tm-user-info__username:hover,
.tm-news-block-item__title-link:hover,
.tm-project-block__title-link:hover,
.tm-project-block-items__detail.tm-project-block-items__title:hover,
.tm-docs__link_sidebar:hover,
.user-notifications-dropdown__show-all:hover,
.tm-companies-contribution-block__company-name:hover,
.tm-user-snippet__title:hover,
.tm-most-reading-block__promo-post:hover,
.tm-company-snippet__title:hover {
  color: $link-color-hover;
}

/* Style fixes */
.tm-suggest-button:hover {
  background-color: #7aa600 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: $text-color-main; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: $bg-color-second; /* color of the scroll thumb */
  border: 3px solid $text-color-main; /* creates padding around scroll thumb */
}
