@import "../_variables.scss";

/* Backgroud */
.tm-block.tm-block_spacing-bottom,
.tm-block.tm-block_spacing-around {
  background-color: $bg-color-second;
}

/* Links */
.tm-companies-rating__name,
.tm-article-title__link,
.tm-hubs-block__hub-title,
.tm-widget-news__link,
.tm-widget-twitter__name {
  color: $link-color-main;
}

/* Links: visited */
.tm-companies-rating__name:visited,
.tm-article-title__link:visited,
.tm-hubs-block__hub-title:visited,
.tm-widget-news__link:visited,
.tm-widget-twitter__name:visited {
  color: $link-color-visited;
}

/* Links: hover */
.tm-companies-rating__name:hover,
.tm-article-title__link:hover,
.tm-hubs-block__hub-title:hover,
.tm-widget-news__link:hover,
.tm-widget-twitter__name:hover {
  color: $link-color-hover;
}

.tm-description-list__body_variant-columns,
.tm-description-list__body_variant-columns-nowrap,
.tm-description-list__body_variant-columns-numbers,
.tm-description-list__title_variant-columns,
.tm-description-list__title_variant-columns-nowrap,
.tm-description-list__title_variant-columns-numbers,
.tm-widget-twitter__message,
.tm-block__title {
  color: $text-color-main;
}
